@import "./input.css";

:root {
    --primary: rgb(71, 147, 252);
    --primary-hard: rgb(27, 106, 241);
    --secondary: #738fa5;
    --secondary-hard: #627a8d;
    --danger: rgb(230, 10, 28);
    --danger-hard: rgb(180, 10, 32);

    --bg: #232428;
    --bg-box: #2c2d31;
}

* {
    box-sizing: border-box;
}

html {
    font: 16px/24px "roboto";
    color: #eee;
}

body {
    margin: 0px;
    background-color: var(--bg);
    font: inherit;
}

.navegation {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    font-size: 1rem;
    line-height: 1.8rem;
    box-shadow: 0px 0px 8px 0px #0008;
}

.navegation__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.navegation__item:hover {
    background-color: var(--primary-hard);
}

.navegation__item.active {
    box-shadow: inset 0px 4px 2px -2px #fff;
}

#app--wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#app__content {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}

#app__navegation {
    flex: 0 0 auto;
}

.container {
    margin: 1.5rem auto;
    width: 70%;
}

.box {
    padding: 1.5rem 2rem;
    background-color: #2c2d31;
    box-shadow: 0px 0px 12px 0px #0009;
}

.title {
    display: block;
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.8rem 0px 1.5rem 0px;
}

.sub-title {
    display: inline-block;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.8rem 0px 1.5rem 0px;
}

.asignatures--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.input__row {
    gap: 1rem;
    margin-bottom: 2rem;
}

.input__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 2px 4px;
    color: #ccc;
}

.input {
    background-color: #37383c;
    border: 1px solid #2f2f2f;
    line-height: 1.5rem;
    padding: 0.7rem 1rem;
    font: inherit;
    color: #fff;
    outline: none;
}

.input:focus {
    outline: 1px solid var(--primary);
    /* box-shadow: 0px 0px 4px 2px rgb(71, 147, 252, 0.7); */
}

textarea.input {
    resize: vertical;
}

.btn {
    --bg-cl: #ddd;
    --text-cl: #333;
    --hover-bg-cl: #fff;
    --hover-text-cl: #000;

    line-height: 1.5rem;
    padding: 0.6rem 1rem;
    background-color: var(--bg-cl);
    color: var(--text-cl, inherit);
    cursor: pointer;
    border: unset;
    font: inherit;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--hover-bg-cl);
    color: var(--hover-text-cl, inherit);
}

.btn--small {
    padding: 3px 1rem;
}

.btn--safe {
    --bg-cl: var(--primary);
    --text-cl: #eee;
    --hover-bg-cl: var(--primary-hard);
    --hover-text-cl: #fff;
}

.btn--secondary {
    --bg-cl: var(--secondary);
    --text-cl: #fff;
    --hover-bg-cl: var(--secondary-hard);
    --hover-text-cl: #fff;
}

.btn--danger {
    --bg-cl: var(--danger-hard);
    --text-cl: #eee;
    --hover-bg-cl: var(--danger);
    --hover-text-cl: #fff;
}

.asignatures__search {
    display: flex;
    gap: 10px;
}

.asignatures__search > .input {
    flex: 1 1 auto;
}

.asignatures__search > .btn[type="submit"] {
    flex: 0 0 auto;
}

.asignatures__item {
    background-color: var(--bg-box);
    padding: 1rem;
    box-shadow: 0px 0px 8px 0px #1119;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    outline: none;
}

.asignatures__item::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    box-shadow: 0px 0px 6px 1px rgb(71, 147, 222, 0.5);
    outline: 1px solid rgb(71, 147, 222);
    opacity: 0;
    transition: opacity 0.3s;
}

.asignatures__item:hover::after, .asignatures__item:focus::after {
    opacity: 1;
}

.asignatures__item__status {
    font-style: italic;
    color: #aaa;
}

.search-notfound-message {
    /* text-align: center; */
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #999;
    font-style: italic;
}

.buttons--container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination {

}

.pagination__navegation {
    display: inline-flex;
    /* padding: 1rem 0px; */
    /* box-shadow: 0px 0px 12px 0px #0009; */
    margin: 0;
}

.pagination__item {
    padding: 1rem 0.7rem;
    /* background-color: #2c2d31; */
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.pagination__item[aria-current="page"] {
    color: var(--primary);
}

.pagination__item::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 1px;
    background-color: rgb(71, 147, 252, 0.2);
    transition: background-color 0.3s;
}

.pagination__item:hover::after {
    background-color: var(--primary);
}

.field__errors {
    padding-left: 1rem;
    color: var(--danger);
    font-size: 0.9rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(71, 147, 222, 0.5);
}

.table tr {
    text-align: center;
}

.table thead tr {
    background-color: var(--primary);
}

.table thead th {
    border: 1px solid var(--primary-hard);
}

.table tbody {
    background-color: #2f2f2f;
}

.table td, .table th {
    padding-block: 10px;
}

.table tbody td {
    /* border-right: 1px solid #232428; */
}

.table tbody tr {
    /* border-bottom: 1px solid #232428; */
}

.table tbody tr:last-child {
    border-bottom: none;
}

.link--simple {
    color: var(--primary);
    text-decoration: underline;
    display: inline-block;
    border: none;
    background-color: unset;
    padding: 0px;
    margin: 0px;
    font: inherit;
    cursor: pointer;
}

.link--simple:active {
    color: var(--primary-hard);
}

.txt-primary {
    color: var(--primary);
}

.txt-danger {
    color: var(--danger);
}

/* .multiple-file__item {
    display: flex;
    gap: 10px;
}

.multiple-file__item > input[type="file"] {
    display: none;
}

.multiple-file__item > .input::placeholder {
    font-style: italic;
}

.multiple-file__item > .btn--danger {
    display: none;
}

.multiple-file__item:has(input[type="file"]:checked) .btn--danger {
    display: none;
}
 */


.input[type="file"] {
    padding: 0px;
}

.input[type="file"]::file-selector-button {
    line-height: 1.5rem;
    padding: 0.6rem 1rem;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    border: unset;
    font: inherit;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.custom-input-file {
    display: flex;
    width: 100%;
    align-items: center;
}

.custom-input-file input[type="file"] {
    /* display: none; */
    /* visibility: hidden; */
    width: 0px;
    height: 0px;
    position: absolute;
    pointer-events: none;
}

.custom-input-file .input-file-text {
    width: 100%;
    display: inline-block;
    flex: 1 1 auto;
    color: #999;
    font-style: italic;
}

.custom-input-file .input-file-buttons {
    flex: 0 0 auto;
    margin-left: 20px;
}


.custom-input-file.attached .input-file-text {
    color: #ddd;
    font-style: normal;
}

.custom-input-file:focus {
    border-color: var(--primary);
}

.custom-input-file:has([rel="btn-select-file"]:focus) .input-file-text {
    border-color: var(--primary);
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.section-subtitle {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: normal;
    color: #999;
    font-style: italic;
}

.details-box {
    background-color: #2c2d31;
    box-shadow: 0px 0px 12px 0px #0009;
}

.details-box > summary {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    color: #ddd;
    background-color: #25272b;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-item {
    padding: 0.8rem 1rem;
    cursor: pointer;
    width: 100%;
}

.list-item:hover {
    box-shadow: inset 4px 0px 2px -2px var(--primary);
}

.box p {
    color: #eee;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-auto-rows: 30px; */
    grid-gap: 1rem;
    /* overflow: hidden; */
}

.image-gallery-item {
    aspect-ratio: 16 / 9;
    grid-column: span 2;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.image-gallery-item {
    box-shadow: 0px 0px 4px 0px #555;
}

.image-gallery-item > img {
    display: block;
    aspect-ratio: 16 / 9;
    height: 100%;
}

.image-gallery-item:hover, .image-gallery-item:focus {
    outline: 1px solid var(--primary);
}

.image-gallery-item:active {
    outline: 3px double var(--primary);
}

.notification {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 300px;
    background-color: #2f2f2f;
    padding: 0.8rem;
    box-shadow: 0px 0px 4px 0px #555;
}